body{
    padding:0;
    margin:0;
     /*background-image: url(./resources/images/grey_acrylic_background.jpg); */
    opacity: .9;
    height: 95vh;
    width: 100vw;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

button:hover{
    opacity: .8;
    cursor: pointer;
}

button:active{
    opacity: .5;
}

h1, h2, h3 {
    margin-left: 5%;
    color: white;
    z-index: 30px;
}
h2{
    font-size: 40px;
}
header{
    width: 100%;
    height: fit-content;
    background-image: url('./resources/images/home-backdrop.webp');
    background-size: cover;
    background-repeat: no-repeat;

}

@media only screen and (max-height: 600px) {
    header{
        display: none;
    }
}

#relax-h3{
    padding-bottom: 30px;
}

#search-bar-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#search-bar{
    visibility: hidden;
    margin-left: 66%;
}
.search-button{
    background-image: url("./resources/svg/titlebar/magnifying-glass-solid.svg");
    height: 20px;
    width: 20px;
    background-color: black;
    border:none;
    margin-right: 15px;

}
.hidden{
    visibility: hidden;
}
#cadence-p{
    margin-left: 10px;
    filter: brightness(1);
}



#main-content{
    width: 100%;
    height: fit-content;
    position: relative;
    right: 7%;
}
#queue-bar{
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(67, 64, 64);
    color:white;
    height: 90%;
    width: 15%;
    min-width: 15%;
    border: none;
    display: flex;
    flex-direction:column;
    overflow-y: hidden;
}

#queue-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(67, 64, 64);
}
#queue-header > button{
    background-color:inherit;
    color: white;
    border: none;
}

#current-queue-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#current-queue-item > img{
    height: 50%;
    width: 50%;
}

#current-queue-item >div > p{
    margin-left: 6px;
    color:white;
    font-size: 10px;
}

.queue-item {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.queue-item:nth-child(even) {
    background-color: rgb(67, 64, 64);
}

.queue-delete-button{
height: fit-content;
width: fit-content;
background-color: grey;
color: white;
border: none;
margin-bottom: 9px;
margin-left: 3px;
}

.queue-item:nth-child(even) > .queue-delete-button {
    background-color: rgb(67, 64, 64);
}

main{
    display:flex;
    height: 80%;
    width: 80%;
    margin:auto;
    border: none;
}
#nav-container{
    position: absolute;
    left: 0;
    top:0;
    background-color:  rgb(67, 64, 64);
    color:white;
    height: 90%;
    width: 3%;
    border: none;
}
#main-nav{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#main-nav button{
    height: 20px;
    width: 20px;
    color: white;
    border: none;
    background-color:  rgb(67, 64, 64);
}

#back-button{
    background-image: url("./resources/svg/nav-fa/arrow-left-solid.svg");
}

#home-button{
    background-image: url("./resources/svg/nav-fa/house-solid.svg");
}

#music-button{
    background-image: url("./resources/svg/nav-fa/music-solid.svg");
}

#profile-button{
    background-image: url("./resources/svg/nav-fa/user-solid.svg");
}

#menu-button{
    background-image: url("./resources/svg/nav-fa/bars-solid.svg");
}
#recently-played-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#show-more-button{
    background-color:#5801b0;
    color:white;
    height:fit-content;
    width: fit-content;
}

#album-gallery{
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#album-gallery .row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#album-gallery > .row > figure{
    height: fit-content;
    width: fit-content;
}
figcaption{
    text-align: center;
}
#album-gallery > .row > figure > img{
    position:relative;
    height: 200px;
    width: 200px;
}


#now-playing-container{
    z-index: 20px;
    width: 20%;
    height: 20%;
    position: absolute;
    left: 3%;
    bottom: 2%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
#now-playing-info{
    position: relative;
    top: 10%;
    padding: 10px;
    display: flex; 
    flex-direction: column;

}
#now-playing-img{
    height: 100px;
    width: 100px;
  
}

@media only screen and (max-width: 900px){
    #now-playing-title{
        display: none;
    }
    #now-playing-timestamp{
        display: none;
    }

  #main-nav >  .nav-button{
        height: 10px;
        width: 10px;
    }

}

#supplementary-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    width: 15%;
    height: 10%;
    position: absolute;
    bottom: 0;
    right: 1%;
}



#control-panel-wrapper{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    align-items: center;
  
}

#control-panel-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#seek-bar{
    width: 80%;
    margin-top: 50px;
    margin-left: 200px;
    cursor:pointer;
}

#seek-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
   
}

#now-playing-time-left{
    margin-top: 50px;
    margin-left: 20px;
    color: white;
}

#control-panel{
    position: absolute;
    bottom: 0;
    left: 29%;
    display: flex;
    flex-direction: row;
    width: 40%;
    margin:auto;
    height: 17%;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #10f000; */
}

.control-button{
    height: 30px;
    width: 30px;
    background-color: rgba(1,1,1,.01);
    background-repeat: no-repeat;
    background-size: cover;
    border:none;
}

@media only screen and (max-width: 1250px) {
    

    .nav-button{
        height: 15px;
        width: 15px;
    }

#album-gallery > .row {
    flex-direction: row;
    justify-content: space-between;
}
#album-gallery > .row > figure > img {
    height: 150px;
    width: 150px;
}

#album-gallery > .row > figure{
    height: 150px;
    width: 150px;
}

.control-button{
    height: 24px;
    width: 24px;
 
}
}

@media only screen and (max-width: 1100px) {
    
    .nav-button{
        height: 10px;
        width: 10px;
    }
    
    #album-gallery > .row > figure > img {
        height: 100px;
        width: 100px;
    }
    
    #album-gallery > .row > figure{
        height: 100px;
        width: 100px;
    }
    
    .control-button{
        height: 20px;
        width: 20px;
     
    }


#control-panel-wrapper{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: fit-content;
    align-items: center;
  
}

#seek-bar-container{
    width: 100%;
}

}



.supplementary-button{
    height: 20px;
    width: 20px;
}

#stop-button{
    background-image: url("./resources/svg/media/Icon\ metro-stop.svg");
}

#shuffle-button{
    background-image: url("./resources/svg/media/Icon\ feather-shuffle.svg");
}

#prev-button{
    background-image: url("./resources/svg/media/Icon\ material-skip-previous.svg");
}

#play-button{
    background-image: url("./resources/svg/media/az-play.svg");
    height: 60px;
    width:  60px;
}

#forward-button{
    background-image: url("./resources/svg/media/Icon\ material-skip-next.svg");
}

#repeat-button{
    background-image: url("./resources/svg/media/Icon\ feather-repeat.svg");
}

#volume-button{
    background-image: url("./resources/svg/media/Icon\ material-volume-up.svg");
}

#toggle-queue-button{
    background-image: url("./resources/svg/nav/Icon\ material-queue-music.svg");
}

#full-screen-button{
    background-image: url("./resources/svg/media/Icon\ material-fullscreen.svg");
}

#equalizer-button{
    background-image: url("./resources/svg/media/Icon\ material-equalizer.svg");
}

#now-playing-button{
    background-image: url("./resources/svg/media/frame.svg");
}

/* START all songs css */
#all-songs-container{
    width: 100%;
    overflow:scroll;
    position: relative;
    right: 7%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#all-songs-container::-webkit-scrollbar{
    display: none;
}

.individual-song{
    margin-bottom: 10px;
    width: inherit;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    background-color: darkslategrey;
}

.individual-song:nth-child(even) {
    background-color: rgb(67, 64, 64);
}